<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <button><a href="{{ url_for('views.home', char_type='PTS') }}">PTS</a></button>
        <button><a href="{{ url_for('views.home', char_type='AST') }}">AST</a></button>
        <button><a href="{{ url_for('views.home', char_type='STL') }}">STL</a></button>
        <button><a href="{{ url_for('views.home', char_type='BLK') }}">BLK</a></button>
        {{ stats_chart | safe }}
    </div>
</body>
</html>